html, body {
    height: 100%;
    margin: 0;
  }
  
  app-root {
    display: flex;
    flex-direction: column;
    height: 100vh; 
  }
  
  #fileInput {
    position: absolute;
    top: 0px;
    right: 10px;
    
  }
  
  
  google-map {
    flex-grow: 1;    
    width: 100%;
  }

  button{
    margin-bottom: 10px;
    margin-left: 10px;
  }

  input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  